<section id="search">
    <h1>Search</h1>
    <form action="/movies/search" method="get" class="form">
        <input type="text" name="tittle" class="search" value="{{tittle}}" placeholder="Title...">
        <input type="text" name="genre" class="genre" value="{{genre}}" placeholder="Genre...">
        <input type="number" name="year" class="year" value="{{year}}" placeholder="Year...">
        <input type="submit" value="search">
    </form>
</section>